<h1 class="mb-5">Lista de Edificios - Hola desde el index edificios</h1>

<table class= "table table-bordered">
    <thead>
        <tr>
            <th>Id edificio</th>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Ciudad</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <%@edificios.each do |edificio| %>
        <tr>
            <td><%= edificio.id %></td>
            <td><%= edificio.nombre %></td>
            <td><%= edificio.direccion %></td>
            <td><%= edificio.ciudad %></td>
            <td>
                <%= link_to "show", edificio, class: "btn btn-primary" %>
                <%= link_to "editar", edit_edificio_path(edificio), class: "btn btn-primary" %>
                <%= button_to "Eliminar", edificio, method: :delete, data: {confirm: "Seguro?"}, class:"btn btn-danger" %>
            </td>
        </tr>
        <% end %>
    </tbody>
  </table>  


<%= link_to "Crear Edificio Nuevo", new_edificio_path, class:"btn btn-primary" %>