<div class= "container mt-5">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
                <h5 class="card-title">Departamento: <%= @departamento.numero %></h5> 
                <h6 class="card-subtitle mb-2 text-muted">ID: <%= @departamento.id %></h6> 
                <p class="card-text">ID Edificio: <%= @departamento.edificio_id %></p> 
                <p class="card-text">Nombre Edificio: <%= @departamento.edificio.nombre %></p>
            <div>
                <%= link_to 'Lista Departamentos', departamentos_path, class: btn btn-primary %>
                <%= link_to 'Crear Departamentos', new_departamento_path, class: btn btn-primary %>
            </div>
        </div>
    </div>
</div>